body {
    background-color: rgb(69, 69, 69);
}

.gameImg {
    width: auto;
    height: 100px;
}

.gameDiv {
    /* min-width: auto;
    max-width: 150px; */
    width: 150px;
    height: 175px;
    background-color: gray;
    cursor: pointer;
}

.gameContainer {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    gap: 50px;
    padding-left: 75px;
}

.consoleContainer {
    display: flex;
    width: 1150px;
    height: 150px;
    gap: 100px;
    margin: 40px;
}

.consoleDiv {
    display: flex;
    padding-left: 130px;
    gap: 155px;
}

.consoles {
    width: 150px;
    height: 150px;
    background-color: gray;
    font-size: 150%;
    cursor: pointer;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonsDiv {
    display: flex;
    align-items: end;
    margin-left: 25px;
    gap: 20px;
}

.buttons {
    width: 75px;
    height: 50px;
}

.randomGameInput {
    margin-bottom: 20px;
}

.randomGameChoiceDiv {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    margin-left: -18px;
}

.gamePreviewContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    width: 300px;
    height: 200px;
    margin-left: 75px;
    margin-top: 50px;
}

.gamePreviewContent {
    display: flex;
    flex-direction: row;
    width: 270px;
    height: 100px;
    gap: 20px;
}

.gamePreviewText {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.gamePreviewButton {
    cursor: pointer;
    position: absolute;
    align-self: start;
    margin-left: 245px;
    margin-top: 15px;
}

.selectedConsole {
    /*Lager en border på utsiden av elementet, 
    men endrer ikke størelsen til elementet*/
    outline: 5px solid black;

    /* Samme som outline, men endrer størelsen til elementet
    border: 5px solid black; 
    */

    /* Lager en border på insiden av elementet
    box-shadow: 0px 0px 0px 5px black inset;
     */
}